[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
v20 = "*"
pyyaml = "*"
pandas = "*"
numpy = "*"
rfc3339 = "*"
iso8601 = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
